.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}

#docentes{
    display: none;
}

#estudiantes{
    display: none; 
}

#acudientes{
    display: none; 
}

#actividades{
    display: none;
}